main.result {
    min-height: 15em;
    md-card {
        margin: 1em auto;
        box-sizing: content-box;
    }
}

section.selections {
    margin-bottom: 1em;
    md-select {
        margin-right: 3em;
    }
}

table.dateSel {
    md-input-container {
        margin-right: 3em; 
    }


}

    md-card.pickerContainer {
        position: fixed;
        top: 15em;
        padding: 1em;
        z-index: 1000;
    }

    md-card.left {
        left: 30vw;
    }
    md-card.right {
        left: 50vw;
    }

md-card-actions {
    text-align: right;
}

div.szModal {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(116,116,116,0.4);
}



