<div class="container">
  <div class="row">
    <md-card class="col-md-12">
      <form>
        <md-input-container>
          <input mdInput placeholder="place" value="chengdu" maxlength="20">
        </md-input-container>

        <table class="dateSel">
          <tr>
            <td>
              <md-input-container (click)="togglePicker(dtf)">
                <input mdInput placeholder="From Date" [value]="dateFrom| date:'yyyy-MM-dd'" maxlength="20">
              </md-input-container>
              <md-card class="pickerContainer left" *ngIf="dtf.shown">
                <va-date-picker (onPicked)="dateFrom=$event"></va-date-picker>
              </md-card>
              
            </td>
            <td>
              <md-input-container (click)="togglePicker(dtt)">
                <input mdInput placeholder="To Date" [value]="dateTo| date:'yyyy-MM-dd'" maxlength="20">
              </md-input-container>
              <md-card class="pickerContainer right" *ngIf="dtt.shown">
                <va-date-picker (onPicked)="dateTo=$event"></va-date-picker>
              </md-card>
            </td>
          </tr>
        </table>
      </form>
    </md-card>
  </div>
</div>

<main class="container result">
  <div class="row">
    <md-card class="col-md-4 col-lg-3">
      result 1
    </md-card>

    <md-card class="col-md-4 col-lg-3">
      result 2
    </md-card>

    <md-card class="col-md-4 col-lg-3">
      result 3
    </md-card>
  </div>

</main>


<footer class="testArea">

 <hr>
  picker 2
  
</footer>

<!-- Shanzhai model -->
<div class="szModal" *ngIf="modalShown" (click)="closeAllPickers()">

</div>