<div class="container">
  <div class="row">

    <md-tab-group class="queryTab">
      <md-tab label="{{ 'app.byPlace' | translate }}">

        <md-card class="col-md-12 pQuery">
          <form>
            <section class="selections">
              <md-select placeholder="Satellite" [(ngModel)]="selectedSatellite" name="satellite">
                <md-option *ngFor="let satellite of satellites" [value]="satellite.value">
                  {{satellite.viewValue}}
                </md-option>
              </md-select>

              <md-select placeholder="Place" [(ngModel)]="selectedPlace" name="place">
                <md-option *ngFor="let place of places" [value]="place.value">
                  {{place.viewValue}}
                </md-option>
              </md-select>
            </section>
            <table class="dateSel">
              <tr>
                <td>
                  <md-input-container (click)="togglePicker(dtf)">
                    <input mdInput placeholder="From Date" value="{{ queryPlace.fromDate| date:'yyyy-MM-dd' }}" maxlength="20"  name="fromDate">
                  </md-input-container>
                  <md-card class="pickerContainer left" *ngIf="dtf.shown">
                    <va-date-picker (onPicked)="queryPlace.fromDate=$event"></va-date-picker>
                  </md-card>
                  
                </td>
                <td>
                  <md-input-container (click)="togglePicker(dtt)">
                    <input mdInput placeholder="To Date" value="{{ queryPlace.toDate| date:'yyyy-MM-dd' }}" maxlength="20" name="toDate">
                  </md-input-container>
                  <md-card class="pickerContainer right" *ngIf="dtt.shown">
                    <va-date-picker (onPicked)="queryPlace.toDate=$event"></va-date-picker>
                  </md-card>
                </td>
              </tr>
            </table>
            <footer>
              <md-card-actions>
                <button md-button color="primary" (click)="showMetImages(queryPlace)">{{ 'app.search' | translate }}</button>
              </md-card-actions>
            </footer>
          </form>
        </md-card>

      </md-tab>
      <md-tab label="{{ 'app.byPosition' | translate }}">
        by position
      </md-tab>
    </md-tab-group>


  </div>
</div>

<main class="container result">
  <div class="row">
    <md-card *ngFor="let img of foundImg" class="col-md-4 col-lg-3">
      <img md-card-image src="assets/img/test.jpeg">
      <md-card-content>
        {{ img.name }}
      </md-card-content>
      <md-card-actions>
        <button md-button color="accent" routerLink="/img/name/{{ img.name }}">{{ 'app.view' | translate }}</button>
        <button md-button color="primary">{{ 'app.download' | translate }}</button>
      </md-card-actions>
    </md-card>
  </div>

</main>


<footer class="testArea">
  
</footer>

<!-- Shanzhai model -->
<div class="szModal" *ngIf="modalShown" (click)="closeAllPickers()">

</div>