<main id="gnosissHolder">
  <nav class="gnNav">
    <md-toolbar color="primary" class="container">
      <div class="brandHolder">
        <button md-button class="navbar-brand" routerLink="/index"> <span class="title display-5">{{ title }}</span></button>
      </div>
      <div class="menuHolder">
        <ul>
          <li><a md-button routerLink="/404">{{ 'app.404' | translate }}</a></li>
          <li><a md-button routerLink="/list">{{ 'app.list' | translate }}</a></li>
        </ul>
      </div>
      <div class="actionHolder">
        <ul>
          <li><a md-button href="https://github.com/wcxaaa/gnosiss" target="_blank"> <img src="assets/img/github-circle-white-transparent.svg" alt="github"> {{ 'app.github' | translate }}</a></li>
        </ul>
      </div>
    </md-toolbar>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="site">
    <md-toolbar color="primary">
      <h1>{{ 'app.gnosiss' | translate }}</h1> 
    </md-toolbar>
  </footer>
</main>


