div.content {
    text-align: center;
    margin: 0px -15px;
    div.logoHolder {
        span.logo {
            font-size: 20em;
        }
    }
    div.titleHolder {
        h1 {
            font-size: 5em;
        }
        h2 {
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
    div.btnHolder {
        font-size: 3em;
        ul {
            display: inline;
            list-style: none;
            padding-left: 0px;
            li {
                display: inline;
            }
            img {
                max-height: 2.5em;
                border-radius: 50%;
                width: auto;
            }
        }
    }
}

