<div class="container-fluid">


      <!--<md-card class="content">
        <md-card-title>
          Gnosiss
        </md-card-title>
        <md-card-content>
          {{ 'app.welcomeT' | translate }}
        </md-card-content>
      </md-card>-->
  <div class="content jumbotron">

    <div class="logoHolder">
      <span class="icon-gnosiss logo primaryFG"></span>
    </div>

    <div class="titleHolder">
      <h1>Gnosiss</h1>
      <h2 class="display-5">{{ 'app.welcomeT' | translate }}</h2>
    </div>
    
    <div class="btnHolder">
      <ul>
        <li *ngIf="!authService.loggedIn()">
          <button md-button color="primary" (click)=authService.login()>Sign in/up</button>
        </li>
        <li *ngIf="authService.loggedIn()">
          <button md-button color="primary" (click)="authService.logout()">Sign out</button>
        </li>
        <li *ngIf="authService.loggedIn()">
          <img class="img-circle" [src]="authService.userProfile.picture" alt="loading...">
        </li>
        <li>
          <button md-button color="accent" routerLink="/index">Learn More</button>
        </li>
      </ul>
      
    </div>
    
  </div>



</div>