<main class="primaryBG">
  <div class="container">
    <div class="row">
      <md-card class="detail col-md-12">
        <md-card-title>
          {{ image.name }}
        </md-card-title>
        
        <md-card-content>
          <header>
            <img src="assets/img/test.jpeg">
          </header>
          <main>
            <ul>
              <li>
                <h3>{{ 'app.basicInfo' | translate }}</h3>
                <div>
                  <table class="table">
                    <tbody>
                      <tr><td>{{ 'app.satellite' | translate }}</td> <td>{{ image.basicInfo.satellite }}</td>
                      <td>{{ 'app.dataType' | translate }}</td> <td>{{ image.basicInfo.dataType }}</td></tr>
                      <tr><td>{{ 'app.sensor' | translate }}</td> <td>{{ image.basicInfo.sensor }}</td>
                      <td>{{ 'app.time' | translate }}</td> <td>{{ image.basicInfo.time }}</td></tr>
                      <tr><td>{{ 'app.stripeNo' | translate }}</td> <td>{{ image.basicInfo.stripeNo }}</td>
                      <td>{{ 'app.rowNo' | translate }}</td> <td>{{ image.basicInfo.rowNo }}</td></tr>
                      <tr><td>{{ 'app.SEA' | translate }}</td> <td>{{ image.basicInfo.SEA }}</td>
                      <td>{{ 'app.azimuth' | translate }}</td> <td>{{ image.basicInfo.azimuth }}</td></tr>
                      <tr><td>{{ 'app.observatory' | translate }}</td> <td>{{ image.basicInfo.observatory }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
              <li>
                <h3>{{ 'app.dateInfo' | translate }}</h3>
                <div>
                  <table class="table">
                    <tbody>
                      <tr><td>{{ 'app.timeAcquired' | translate }}</td> <td>{{ image.dateInfo.timeAcquired }}</td>
                      <td>{{ 'app.timeElapsed' | translate }}</td> <td>{{ timeElapsed }}s</td></tr>
                    </tbody>
                  </table>
                </div>
              </li>
              <li>
                <h3>{{ 'app.spatialInfo' | translate }}</h3>
                <div>
                  <table class="table">
                    <tbody>
                      <tr><td>{{ 'app.centeralLatitude' | translate }}</td> <td>{{ image.spatialInfo.latitude }}</td>
                      <td>{{ 'app.centeralLongitude' | translate }}</td> <td>{{ image.spatialInfo.longitude }}</td></tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </main>
        </md-card-content>
        
      </md-card>
    </div>
  </div>
</main>