<main class="primaryBG">
  <div class="container">
    <div class="row">
      <md-card class="detail col-md-12">
        <md-card-title>
          LC818038573201934GN01
        </md-card-title>
        <md-card-content>
          <header>
            img
          </header>
          <main>
            <ul>
              <li>
                <h3>Basic Info</h3>
                <div>
                  <table class="table">
                    <tbody>
                      <tr><td>satellite</td> <td>Landsat8</td>
                      <td>Data Type</td> <td>OLI_TIRS</td></tr>
                      <tr><td>sensor</td> <td>OLI_TIRS</td>
                      <td>Time</td> <td>Day</td></tr>
                      <tr><td>Stripe No.</td> <td>132</td>
                      <td>Row No.</td> <td>32</td></tr>
                      <tr><td>SEA</td> <td>44.909</td>
                      <td>Azimuth</td> <td>148.262</td></tr>
                      <tr><td>Observatory</td> <td>LGN</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </li>
              <li>
                <h3>Date Info</h3>
                <div>
                  <table class="table">
                    <tbody>
                      <tr><td>Time Acquired</td> <td>2017-3-20 2:50:51</td>
                      <td>Time Elapsed</td> <td>20s</td></tr>
                    </tbody>
                  </table>
                </div>
              </li>
              <li>
                <h3>Spatial Info</h3>
                <div>
                  <table class="table">
                    <tbody>
                      <tr><td>Centeral Latitude</td> <td>40.333</td>
                      <td>Centeral Longitude</td> <td>116.704</td></tr>
                    </tbody>
                  </table>
                </div>
              </li>
            </ul>
          </main>
        </md-card-content>
        
      </md-card>
    </div>
  </div>
</main>